.header{
    max-width: 100%;
    min-height: 3.7rem;
    padding-inline-end: 1.2rem;
    padding-inline-start: 0.2rem;
    background-color: #002B36;
    display: flex;
    gap:3%;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);;
    margin-bottom: 1.2rem;
}

.logo{
    margin-inline-start: 0.7rem;
    max-width: 2.5rem;
    max-height: 2.5rem;
    border-radius: 0.7rem;
    overflow: hidden;
    cursor: pointer;
}
div.search{
    flex:1;
    border-radius: 50px;
    background-color: rgb(172, 157, 157);
    display: flex;
}

div.search > input {
    color: gray;
    font-size: 1rem;
    min-height: 2.5rem;
    padding-inline: 0.4rem;
    outline: none; 
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}
.search > input::placeholder{
    color: rgb(245, 242, 237);
}

.search-icon{
    margin-left: 0.33rem;
}

button.upload{
    transition-duration: .45s;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    color:  #1a1c1e;
    font-weight: 600;
    padding: 0.35rem 0.6rem;
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    border-radius: 9999px;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

.upload:hover{
    background-color: #65bb68;
    color: white
}
