
.image-card{
    margin: 0 auto;
    color: white;
    /* margin-top: 1rem; */
    width: 250px;
    height: 400px;
    border-radius: 1.2rem;
    overflow: hidden;
    background-color: #1a1c1e;
    box-shadow: 0.1px 2px 2px gray;
}
.image-card >img{
    height: 18.5rem;
    width: 15.63rem;
    /* object-fit: contain; */
}
.image-name, .url-container{
    padding-left: 6px;
}
.image-name{
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 5px;
}
.url-container{
    display: flex;
    justify-content: space-between;
}

.hide{
    display: none;
}
.alert{
    font-weight: 400;
    font-size: 0.6rem;
}

