.image-list{
    justify-content: center;
    display: grid;
    gap: 1.2rem;
}

/* small device points */
@media only screen and (min-width: 600px) {
    .image-list{
        grid-template-columns: repeat(auto-fill, 250px);
    }
  }

  
