body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#ff0000;background-image: radial-gradient(at 48% 46%, hsla(29,48%,86%,1) 0, transparent 100%), radial-gradient(at 97% 94%, hsla(29,24%,85%,1) 0, transparent 57%), radial-gradient(at 4% 6%, hsla(30,92%,91%,1) 0, transparent 49%), radial-gradient(at 4% 95%, hsla(30,45%,93%,1) 0, transparent 74%), radial-gradient(at 97% 3%, hsla(192,81%,97%,1) 0, transparent 100%)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
